<div class="row">
  <div class="col-md-6">
    <h2>Edit Itinerary</h2>
    <%= form_for [@user, @itinerary] do |t| %>
    <div class="form-group">
      <%= t.text_field :title, placeholder: @itinerary.title, class: "form-control"  %><br>
    </div>
    <div class="form-group">
      <%= t.text_field :description, placeholder: @itinerary.description, class: "form-control"  %><br>
    </div>
    <div class="form-group">
      <%= t.text_field :cover, placeholder: @itinerary.cover, class: "form-control"  %><br>
    </div>

    <hr>
    <div class="form-group">
      <%= t.submit "Save", class: "btn btn-default" %>
    </div>
    <% end %>
  </div>
</div>