<div id="map"></div>
<div class="container">
	<div class="row">
		<div class="col-sm-4 well">
			<%= @itinerary.title %>
		</div>
		<div class="col-sm-8 well">
			<%= @itinerary.description %>
		    <%= link_to '', edit_itinerary_path(@itinerary), class: 'glyphicon glyphicon-pencil' %><%= link_to "", itinerary_path(@itinerary), method: :delete, data: {confirm: "Are you sure?"}, class: "glyphicon glyphicon-remove delete-post" %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 well">
			<%= form_for ([@user, @itinerary, @itinerary.items.build]) do |f| %>
			<div class="form-group"> 
			<%= f.text_field :activity_name, placeholder: "Activity", class: "form-control"  %>
			<%= f.text_area :description, placeholder: "Description", class: "form-control" %>
			<%= f.text_field :category, placeholder: "Category", class: "form-control" %>
			<%= f.text_field :location, placeholder: "Location", class: "form-control"%>
			<%= f.submit class: "btn" %>
			</div>
			<% end %>
		</div>
		<div class="col-sm-3 well">
			<h5>Eat</h5>
      <% @itinerary.items.each do |i| %>
      <% if i.category == "eat" %>
        <%= i.activity_name %> <br>
        <%= i.description %> <br>
        <%= i.location %> <span><%= link_to '', edit_itinerary_item_path(@itinerary.id,i), class: 'glyphicon glyphicon-pencil' %> <%= link_to "", itinerary_item_path(@itinerary.id, i), method: :delete, data: {confirm: "Are you sure?"}, class: "glyphicon glyphicon-remove delete-post" %></span><hr>
        <% end %>
      <% end %>
		</div>
		<div class="col-sm-3 well">
			<h5>Sleep</h5>
      <% @itinerary.items.each do |i| %>
      <% if i.category == "sleep" %>
        <%= i.activity_name %> <br>
        <%= i.description %> <br>
        <%= i.location %> <span> <%= link_to '', edit_itinerary_item_path(@itinerary.id,i), class: 'glyphicon glyphicon-pencil' %> <%= link_to "", itinerary_item_path(@itinerary.id, i), method: :delete, data: {confirm: "Are you sure?"}, class: "glyphicon glyphicon-remove delete-post" %></span><hr>
        <% end %>
      <% end %>
		</div>
		<div class="col-sm-3 well">
			<h5>Play</h5>
			<% @itinerary.items.each do |i| %>
      <% if i.category == "play" %>
  			<%= i.activity_name %> <br>
  			<%= i.description %> <br>
  			<%= i.location %> <span><%= link_to '', edit_itinerary_item_path(@itinerary.id,i), class: 'glyphicon glyphicon-pencil' %> <%= link_to "", itinerary_item_path(@itinerary.id, i), method: :delete, data: {confirm: "Are you sure?"}, class: "glyphicon glyphicon-remove delete-post" %></span><hr>
        <% end %>
			<% end %>
		</div>
	</div>
</div>

<script>
 L.mapbox.accessToken = 'pk.eyJ1IjoiYXNhbnRvczMwMjYiLCJhIjoiZWZlMmMyM2JiN2ZiNzcxZmJkOGJhMWNhZWE4ODc1MjMifQ.Moj73Bv5_uyylRIcZkXcYg';
  var map = L.mapbox.map('map', 'mapbox.high-contrast')
                .setView([37.77, -122.45], 12);

  // Disable drag and zoom handlers.
      // map.dragging.disable();
      // map.touchZoom.disable();
      map.doubleClickZoom.disable();
      map.scrollWheelZoom.disable();

// Disable tap handler, if present.
if (map.tap) map.tap.disable();

var myLayer = L.mapbox.featureLayer().addTo(map);

var geocoder = L.mapbox.geocoder('mapbox.places');

var geojson = {
  type: "FeatureCollection",
  features: [
  <% @itinerary.items.each do |c| %>
  {
    type: "Feature",
    properties: {
      title: "<%= c.activity_name %>",
      description: "<%= c.description %>",
      "marker-size": "medium",
      "marker-color": "#7ec9b1",
      "marker-symbol": "suitcase",
    },
    geometry: {
      type: "Point",
      coordinates: [<%=c.lng %>, <%=c.lat%>]
    }
  },<% end %>
]

};

myLayer.setGeoJSON(geojson);
myLayer.on('click', function(e) {
  window.location.replace(e.layer.feature.properties.url);
}); 

</script>