<div class="container">
  <div class="row"> 
    <div class="col-sm-4">
     <br>
     <h3><%= @itinerary.title %></h3> 

      <%= @itinerary.description %>
      <% if current_user %>
      <% if current_user.id == @itinerary.user_id %>
        <%= link_to '', edit_itinerary_path(@itinerary), class: 'glyphicon glyphicon-pencil'%>
        <%= link_to "", itinerary_path(@itinerary), method: :delete, data: {confirm: "Are you sure?"}, class: "glyphicon glyphicon-remove delete-post" %> 
      <% end %>
      <% end %>
      <br> <br>
    <% if current_user %>
      <% if (current_user.id == @itinerary.user_id) %>
          <div class="well" style="margin-right: 50px;">
            <%= form_for ([@user, @itinerary, @itinerary.items.build]) do |f| %>
                <div class="form-group"> 
                    <%= f.text_field :location, placeholder: "Location", id:"searchTextField", size:"50", autocomplete:"on", runat:"server", class: "form-control"%> <br>
                    <%= f.hidden_field :lat, id: "cityLat" %> 
                    <%= f.hidden_field :lng, id: "cityLng" %>
                    <%= f.text_field :activity_name, placeholder: "Activity Name", class: "form-control" %> <br>
                    <%= f.text_area :description, placeholder: "Description", class: "form-control" %> <br>
                    <%=  f.radio_button :category, 'eat' %> Eat <%= f.radio_button :category, 'sleep' %> Sleep <%= f.radio_button :category, 'play' %>    Play <br><br>
                    
                    <%= f.submit class: "btn" %>
                </div>
            <% end %>
          <% end %>
        </div>
    <% end  %>
  </div>
  

  <div class= "col-sm-8">
      <br>
        <% if current_user %>
            <span style="float: right">
               <%= link_to itinerary_clone_path(params[:id]) do  %>    
               <div class = "crop_sheep">
                 <img src = "https://app.clickdimensions.com/blob/clickdimensionscom-ak7l5/images/newsletters/nov12/clone.png">
               </div>
               <% end  %>Clone
            </span>
        <% end  %>
    <br><br><br><br>
    <div class="ripplelink"id="map"></div>
  </div>
</div>


<div class="row">
  <br><br><br>
    <div class="col-sm-1"></div>
    <div class="col-sm-3 boxlike ripplelink">
      <h4>Eat</h4>
      <% @itinerary.items.each do |i| %>
      <% if i.category == "eat" %>
        <%= i.activity_name %> <br>
        <%= i.description %> <br>
        <%= i.location %> 
        <% if current_user %>
          <% if (current_user.id == @itinerary.user_id) %>
              <span>
                <%= link_to '', edit_itinerary_item_path(@itinerary.id,i), class: 'glyphicon glyphicon-pencil' %> <%= link_to "", itinerary_item_path(@itinerary.id, i), method: :delete, data: {confirm: "Are you sure?"}, class: "glyphicon glyphicon-remove delete-post" %></span>
          <% end %>
        <% end %>
        <hr>
      <% end %>    
      <% end %>
    </div>
    <div class="col-sm-3 boxlike ripplelink">
      <h4>Sleep</h4>
      <% @itinerary.items.each do |i| %>
      <% if i.category == "sleep" %>
        <%= i.activity_name %> <br>
        <%= i.description %> <br>
        <%= i.location %> 
        <% if current_user %>
          <% if (current_user.id == @itinerary.user_id) %>
              <span> <%= link_to '', edit_itinerary_item_path(@itinerary.id,i), class: 'glyphicon glyphicon-pencil' %> <%= link_to "", itinerary_item_path(@itinerary.id, i), method: :delete, data: {confirm: "Are you sure?"}, class: "glyphicon glyphicon-remove delete-post" %></span>
          <% end %>
        <% end %>
        <hr>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-3 boxlike ripplelink">
      <h4>Play</h4>
      <% @itinerary.items.each do |i| %>
      <% if i.category == "play" || i.category == nil %>
        <%= i.activity_name %> <br>
        <%= i.description %> <br>
        <%= i.location %> 
        <% if current_user %>
          <% if (current_user.id == @itinerary.user_id) %>
              <span><%= link_to '', edit_itinerary_item_path(@itinerary.id,i), class: 'glyphicon glyphicon-pencil' %> <%= link_to "", itinerary_item_path(@itinerary.id, i), method: :delete, data: {confirm: "Are you sure?"}, class: "glyphicon glyphicon-remove delete-post" %></span>
          <% end %>
        <% end %>  
        <hr>
        <% end %>
      <% end %>
    </div>
   </div> 
  </div>
</div>
<script>

 L.mapbox.accessToken = 'pk.eyJ1IjoiYXNhbnRvczMwMjYiLCJhIjoiZWZlMmMyM2JiN2ZiNzcxZmJkOGJhMWNhZWE4ODc1MjMifQ.Moj73Bv5_uyylRIcZkXcYg';
  var map = L.mapbox.map('map', 'mapbox.high-contrast')
                .setView([37.77, -122.45], 12);
  // Disable drag and zoom handlers.
      // map.dragging.disable();
      // map.touchZoom.disable();
      map.doubleClickZoom.disable();
      map.scrollWheelZoom.disable();
// Disable tap handler, if present.
if (map.tap) map.tap.disable();
var myLayer = L.mapbox.featureLayer().addTo(map);
var geocoder = L.mapbox.geocoder('mapbox.places');
var geojson = {
  type: "FeatureCollection",
  features: [
  <% @itinerary.items.each do |c| %>
  {
    type: "Feature",
    properties: {
      title: "<%= c.activity_name %>",
      description: "<%= c.description %>",
      "marker-size": "medium",
       

      <% if (c.category == "eat") %>
       "marker-color": "#2980b9",
       "marker-symbol": "cafe"
       <% elsif (c.category == "sleep") %>
       "marker-color": "#e74c3c",
       "marker-symbol": "lodging"
       <% else %>
       "marker-color": "#1bc4a3",
       "marker-symbol": "camera"
       <% end %>
    },
    geometry: {
      type: "Point",
      coordinates: [<%=c.lng.to_f %>, <%=c.lat.to_f %>]
    }
  },<% end %>
]
};




myLayer.setGeoJSON(geojson);


 
myLayer.on('hover', function(e) {
  window.location.replace(e.layer.feature.properties.url);
});


   
   




    
   



</script>