<div class="row">
  <div class="col-xs-4 col-xs-offset-4 post">
    <h1>Sign Up</h1>
    <hr>
    


    <%= form_for @user, :validate => true, :url => users_path, :html => { :multipart => true } do |f| %>
      <div class="form-group">
        <%= f.email_field :email, placeholder: "Email", class: "form-control", required: true %>
      </div>
      <div class="form-group">
        <%= f.text_field :username, placeholder: "Username", class: "form-control", required:true %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, placeholder: "Password Requires 6 characters", class: "form-control", required: true %>
      </div>

      <div class="form-group">
        <%= simple_form_for @user, url: users_path do |form| %>
          <%= form.input :avatar, as: :file %>
        <% end %>
      </div>
      <%= f.submit "Sign Up", class: "btn btn-default" %>
    <% end %>
  </div>
</div>
