<div class="row">
  <div class="col-xs-4 col-xs-offset-4 post boxes">
    <h1>Sign Up</h1>
    <hr>
<<<<<<< HEAD
    <%= form_for @user, :validate => true, :url => users_path, :html => { :multipart => true } do |f| %>
      <div class="form-group">
        <%= f.email_field :email, placeholder: "Email", class: "form-control", required: true %>
      </div>
      <div class="form-group">
        <%= f.text_field :username, placeholder: "Username", class: "form-control", required: true %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, placeholder: "Password", class: "form-control", required: true %>
      </div>
=======
    


    <%= form_for @user, :validate => true, :url => users_path, :html => { :multipart => true } do |f| %>
      <div class="form-group">
        <%= f.email_field :email, placeholder: "Email", class: "form-control", :required => true %>
      </div>
      <div class="form-group">
        <%= f.text_field :username, placeholder: "Username", class: "form-control", :required => true %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, placeholder: "Password Requires 6 characters", class: "form-control", :required => true %>
      </div>
        Add a photo: <br><br> <%= f.file_field :avatar, required: false %> <br><br>
        <%= f.submit "Sign Up", class: "btn btn-default" %> <br>
      <% end %>
<<<<<<< HEAD
>>>>>>> d60fdeb935c43a6617c5fcdb1aadd3dcb12d0f40

=======
>>>>>>> 55a0f4b2c4394a266faf4abf0862248b50a3b76b
    </div>
  </div>
</div>
