<div class="container">
<div class="row row_one">	

  <div class="col-sm-2 boxlike">
	<img src="<%= @user.avatar %>" class="img-circle" style="max-width: 100%; max-height: 100%;">
	<h4> <%= @user.username.titleize %></h4>
	<hr>
	<%= @user.hometown %>
	Joined <%= localize(@user.created_at, :format => '%m/%d/%Y') %> <br>
	My Itineraries: <%= @user.itineraries.count %> <br>
	<% if @user == current_user  %>
		<%= link_to 'Edit Profile', edit_user_path(@user) %>
	<% else  %>
	<% end  %>	

  </div>

<div class="col-sm-1"></div>
<div class="col-sm-4">  

	<h3><%= @user.username.titleize %>'s Itineraries</h3> <br>
   	<div class="row">

    	<% @user.itineraries.each do |i|  %>
	    	<% if i.parent == i.user_id %>
		    	<div class="row">
		    		<%= link_to itinerary_path(i.id) do %>
			    		<div class="col-sm-4">
			    			<img src="<%= i.cover %>" class="crop">
			    		</div>
			    		<div class="col-sm-8">
			    			<%= i.title %>
			    		</div>
		    		<% end  %>
		    	</div>	
		    	<hr>
		    <% else  %>
		    <% end  %> 
		<% end  %>

	<%= link_to new_itinerary_path do %>
		<div class="col-sm-12">
		    Create a new Itinerary
		</div>
 
	<% end  %>
    </div>
</div>

<div class="col-sm-4">  
   	<h3>Cloned Itineraries</h3> <br>
   	<div class="row" id="saved">	
    	<% @user.itineraries.each do |i|  %>
	    	<% if i.parent == i.user_id %>
	    	<% else %>
	    	<div class="row">
	    		<%= link_to itinerary_path(i.id) do %>
	    		<div class="col-sm-4">
	    			<img src="<%= i.cover %>" class="crop">
	    		</div>
	    		<div class="col-sm-8">
	    			<%= i.title %>
	    		</div>
	    		<% end  %>
	    	<% end  %>	
	    	</div>
	    	<hr>
    	<% end  %>
    </div>
</div>

</div>
</div>