<div class="container">
<div class="row row_one">	

<div class="col-sm-2 boxlike">
	<img src="<%= @user.avatar %>" class="img-circle" style="max-width: 100%; max-height: 100%;">
	<h4> <%= @user.username.titleize %></h4>
	<hr>
	<%= @user.hometown %>
	Joined <%= localize(@user.created_at, :format => '%m/%d/%Y') %> <br>
	My Itineraries: <%= @user.itineraries.count %> <br>
		<% if @user == current_user  %>
			<%= link_to 'Edit Profile', edit_user_path(@user) %>
		<% else  %>
		<% end  %>	

</div>

<div class="col-sm-4 boxlike">  
	<h3><%= @user.username.titleize %>'s Itineraries</h3> <br>
   	<div class="row">
   	<div class= "col-sm-10">
    	<% @user.itineraries.each do |i|  %>
	    	<% if i.parent == i.user_id %>
		    	<div class="row">
		    		<% user = i.user_id  %>
	   				<%= link_to user_itinerary_path(user, i.id) do %>
			    		<div class="col-sm-4">
			    			<img src="<%= i.cover %>" class="crop">
			    		</div>
			    		<div class="col-sm-8">
			    			<%= i.title %>
			    		</div>
		    		<% end  %>
		    	</div>	
		    	<br>
		    <% else  %>
		    <% end  %> 
		<% end  %>

	<%= link_to new_itinerary_path do %>
		    Create a new Itinerary
 
	<% end  %>
    </div>
    </div>
</div>

<div class="col-sm-4 boxlike">  
   	<h3>Cloned Itineraries</h3> <br>
   	<div class="row" id="saved">
   		<div class= "col-sm-10">
    	<% @user.itineraries.each do |i|  %>
	    	<% if i.parent == i.user_id %>
	    	<% else %>
	    	<div class="row">
	    		<% user = i.user_id  %>
	   				<%= link_to user_itinerary_path(user, i.id) do %>
	    		<div class="col-sm-4">
	    			<img src="<%= i.cover %>" class="crop">
	    		</div>
	    		<div class="col-sm-8">
	    			<%= i.title %>
	    		</div>
	    		<% end  %>
	    	
	    	<% end  %>	
	    	</div>
	    	<br>
    	<% end  %>
    	</div>	
    </div>
</div>

</div>
</div>