<div class="container">
<div class="row row_one">	
  <div class="col-sm-2">
	<img src="<%= @user.avatar %>" class="img-circle">
	<h4> <%= @user.username %></h4>
	<hr>
	<%= @user.hometown %>
	Joined <%= localize(@user.created_at, :format => '%m/%d/%Y') %>
	Itineraries created: <%= @user.itineraries.count %>
	<% if @user == current_user  %>
		<%= link_to 'Edit', edit_user_path(@user) %>
	<% else  %>
	<% end  %>	
  </div>

<div class="col-sm-1"></div>
<div class="col-sm-4">  
   	<h3><%= @user.username %>'s Itineraries</h3> <br>
   	<div class="row">	
    	<% @user.itineraries.each do |i|  %>
	    	<div class="row">
	    		<%= link_to itinerary_path(i.id) do %>
	    		<div class="col-sm-4">
	    			<img src="<%= i.cover %>" class="crop">
	    		</div>
	    		<div class="col-sm-8">
	    			<%= i.title %>
	    		</div>
	    		<% end  %>
	    	</div>
	    	<hr>
    	<% end  %>
    </div>
</div>

<div class="col-sm-1"></div>
<div class="col-sm-4">  
   	<h3>Cloned Itineraries</h3> <br>
   	<div class="row" id="saved">	
    	<% @user.itineraries.each do |i|  %>
	    	<div class="row">
	    		<%= link_to itinerary_path(i.id) do %>
	    		<div class="col-sm-4">
	    			<img src="<%= i.cover %>" class="crop">
	    		</div>
	    		<div class="col-sm-8">
	    			<%= i.title %>
	    		</div>
	    		<% end  %>
	    	</div>
	    	<hr>
    	<% end  %>
    </div>
</div>

</div>
</div>