
<div class="row">
  <div class="col-xs-4 col-sm-3">
    <h1>Welcome <%= current_user.username %></h1>
		<div><p><%= current_user.avatar %> will go here!</p></div>
  </div>
  <div class="col-xs-8 col-sm-9">
    <h1>Trips</h1>
		<span><%= paginate @itineraries %></span>
		<hr class="style-one">
		<div class="title">
			<% @itineraries.each do |p| %>
			<p>	
				<%= link_to p.title, user_itinerary_path(p.user, p) %>
				<% if current_user && (current_user.id == p.user_id) %>
				<%= link_to "", user_itinerary_path(p.user, p), method: :delete, data: {confirm: "Are you sure?"}, class: "glyphicon glyphicon-remove delete-post" %>
				<%= link_to "", edit_user_itinerary_path(p.user, p), class: "glyphicon glyphicon-pencil" %>	
				<% end %>
			</p>
			<% end %>
		</div>
  </div>
</div>